html {
  box-sizing: border-box;
  font-size: 10px;
}

* {
  &,
  &::before,
  &::after { box-sizing: inherit; }
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}






/* TODO: Сетка */
.page {
  position: relative;
  padding-bottom: 1000px;
  // padding-bottom: 300px;

  &--index {
    @include body-bg(index);
  }

  &--media {
    @include body-bg(photo);
  }

  &--review {
    @include body-bg(form);
  }

  > * {
    // opacity: 0.3;
  }
}

// .page-header,
.page-footer,
// .main-nav,
// .page-title,
.features,
.hotel-search,
.map,
.gallery,
.video,
.test {
  @include outline(-1);
  img { display: none; }
}

/* EO TODO: Сетка */
