html {
  box-sizing: border-box;
  font-size: 10px;
}

* {
  &,
  &::before,
  &::after { box-sizing: inherit; }
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}






/* TODO: Сетка */
.page {
  padding-bottom: 1000px;
}

.page-header,
.page-title,
// .features,
.test {
  @include outline(-1);
  img { display: none; }
}

.page-footer {
  display: none;
}

/* EO TODO: Сетка */
