// Сброс стилей списка
@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Имитация схлопывания отступов
@mixin margin-collapse() {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// Контейнер по вьюпорту
@mixin container() {
  display: block;

  width: $container-sm;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @media (min-width: $screen-lg) {
    width: $container-lg;
  }
}

// Резиновый контейнер по вьюпорту
@mixin container-fluid() {
  display: block;
  width: auto;

  @media (min-width: $screen-md) {
    max-width: $container-lg;
    margin: 0 auto;
  }
}

// Сброс контейнера
@mixin container-reset() {
  width: auto;
  max-width: none;
  margin: 0;
}

// Встраиваемый контент по размеру картинки
@mixin embed($prefix: "__") {
  position: relative;

  &#{$prefix}content {
    // For embed map/video etc.
    position: absolute;
    z-index: 1;
    top: 0; bottom: 0;
    right: 0; left: 0;
  }

  &#{$prefix}image {
    // For preview image
    display: block;
    position: relative;
    z-index: 0;

    margin: auto;
  }
}

@mixin focus($isBtn: 0) {
  // outline: 1px solid #5E9ED6;
  // outline: 5px auto -webkit-focus-ring-color;
  outline: none;
  box-shadow: 0 0 5px 1px #5E9ED6;

  @if $isBtn == 1 {
    border: 1px solid $color-white;
  }
}

@mixin field-notice($block) {
  &__notice {
    display: block;

    padding-top: 9px;
    margin-bottom: -6px;

    text-transform: none;

    &--error {
      display: none;
      color: $color-danger;
    }
  }

  &:last-child {
    #{$block}__notice { margin-bottom: 0; }
  }

  &--error {

    #{$block}__notice--error {
      display: block;
    }
  }
}
