$color-white: #fff;
$color-black: #000;
$color-brown: #766357;
$color-brown--dark: #604e43;

$color-gray--darkest: #333;
$color-gray: #b8b8b8;
$color-gray--light: #d5d5d5;
$color-gray--lighter: #e5e5e5;
$color-gray--lighter-2: #eee;
$color-gray--lightest: #f2f2f2;

$color-main: #81b3d2;
$color-main--dark: #669ec0;
$color-main--darker: #5496bd;
$color-main--darkest: #5c6870;

$color-danger:    #ff5c5c;
$color-success:   #3FD411;
$color-warning:   #D8AE1C;

$text-color: $color-gray--darkest;
$text-color--main: $color-white;
$bg-color: $color-white;
$bg-color--outer: $color-gray--lightest;
$bg-color--main: $color-main;
$bg-color--gray: $color-gray--lighter;
$bg-color--gray-light: $color-gray--lightest;

$heading-color: $color-black;
$link-color: $color-main--dark;

$font-size: 1.4rem;
$font-size--large: 1.8rem;
$font-size--xlarge: 2.1rem;
$font-size--xxlarge: 3rem;

$font-size--h1: $font-size--xxlarge;
$font-size--h1-sm: $font-size--large;
$font-size--h2: $font-size--xlarge;
$font-size--h2-sm: $font-size--large;

$line-height: 2.1rem;
$line-height--large: 2.4rem;
$line-height--xlarge: 2.6rem;

$font-family: "PT Sans", Arial, sans-serif;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1200px;

$gap-sm: 20px;
$gap-md: 60px;
$gap-lg: 120px;

$col-md: 256px;
$col-lg: 400px;

$container-sm: $screen-sm;
$container-md: $screen-md;
$container-lg: $screen-lg;
