.field-checkbox {
  $block: &;
  $indicator-radius: 56px;
  $margin-bottom: 24px;
  @include field-notice($block);

  &__inner {
    margin: 0;
    margin-bottom: -$margin-bottom;
  }

  &__name {
    display: block;
    position: relative;
    margin-bottom: $margin-bottom;
  }

  &__input {
    position: absolute;
    z-index: 1;
    top: 0; left: 0;

    width: $indicator-radius;
    height: $indicator-radius;

    opacity: 0;

    &:checked + #{$block}__text:after { display: block; }

    &:focus + #{$block}__text  {
      &::before { @include focus; }
    }

    &:hover + #{$block}__text {
      &::before {background-color: $color-gray--lighter;}
    }

    &:active + #{$block}__text {
      &::before {background-color: $color-gray--light;}
      &::after {background-image: svg-load('../img/icon-tick.svg', fill = transparentize($color-gray--darkest, 0.7));}
    }
  }

  &__text {
    display: flex;
    align-items: center;
    position: relative;

    color: $color-black;
    font-size: $font-size--large;
    line-height: $line-height--xlarge;
    text-transform: none;

    &::before {
      content: '';
      flex-shrink: 0;
      align-self: start;

      width: $indicator-radius;
      height: $indicator-radius;
      margin-right: 24px;

      background-color: $color-gray--lightest;
      border-radius: 5px;
    }

    &::after {
      content: '';
      display: none;
      position: absolute;
      top: $indicator-radius / 2;
      left: $indicator-radius / 2;
      transform: translate(-50%, -50%);

      width: 24px;
      height: 16px;

      background: svg-load("../img/icon-tick.svg") 0 0 no-repeat;
    }

    &:hover {
      &::before {background-color: $color-gray--lighter;}
    }

    &:active {
      &::before {background-color: $color-gray--light;}
      &::after {background-image: svg-load('../img/icon-tick.svg', fill = transparentize($color-gray--darkest, 0.7));}
    }
  }

  @media (min-width: $screen-md) {
    $margin-bottom: 30px;

    &__inner {
      margin-bottom: -$margin-bottom;
    }

    &__name {
      margin-bottom: $margin-bottom;
    }
  }
}
