.field-text {
  $block: &;
  $input-padding-x: 21px;
  @include field-notice($block);

  margin: 0 0 20px;

  &__wrap {
    margin: 0 0 -20px;
  }

  &__name {
    display: block;

    margin: 0 0 6px;
    margin-left: $input-padding-x;

    line-height: $line-height--xlarge;
    vertical-align: baseline;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: block;

    padding: 16px $input-padding-x;
    width: 100%;

    font-size: $font-size--large;
    line-height: $line-height--xlarge;
    font-family: $font-family;
    font-weight: bold;
    vertical-align: baseline;

    color: $color-black;
    background-color: $color-gray--lightest;
    border: none;

    &::placeholder {
      color: $color-gray;
    }
  }

  &__icon-wrap {
    display: block;
    position: relative;

    padding-right: 58px;

    background-color: $color-gray--lighter;

    &::after {
      content: '';
      position: absolute;
      top: 50%; right: 29px;
      transform: translate(50%, -50%);

      background-repeat: no-repeat;
    }
  }

  &__icon {
    position: absolute;
    top: 50%; right: 29px;
    transform: translate(50%, -50%);
  }

  &__notice {
    padding-left: $input-padding-x;
  }

  &--error {
    #{$block}__input {
      outline: 1px solid $color-danger;
    }
    #{$block}__icon-wrap {
      outline: 1px solid $color-danger;

      #{$block}__input { outline: none; }
    }
  }

  &--inline {
    display: flex;
    align-items: baseline;

    #{$block}__name {
      margin-left: 0;
      margin-right: 15px;
    }

    #{$block}__input-wrap {
      width: 100%;
    }
  }

  &--phone {
    #{$block}__icon-wrap::after {
      width: 18px;
      height: 18px;

      background-image: svg-load('../img/icon-phone.svg');
    }
  }

  &--mail {
    #{$block}__icon-wrap::after {
      width: 16px;
      height: 16px;

      background-image: svg-load('../img/icon-mail.svg');
    }
  }

  @media (min-width: $screen-md) {

    &__name { width: 50%; }

    &__input-wrap {
      position: relative;
    }

    &__notice {
      position: absolute;
      bottom: 100%; right: 0;

      width: 50%;
      margin: 0;
      padding-bottom: 8px;

      text-align: right;
    }

    &--inline {

      #{$block}__name { width: auto; }

      #{$block}__notice {
        position: static;

        width: auto;
        margin: 0 0 -6px;

        text-align: left;
      }
    }

  }

  @media (min-width: $screen-lg) {

    &__wrap--2-cols-lg {
      display: flex;
      margin: 0 -40px;
    }

    &--1-of-2-lg {
      width: 50%;
      padding: 0 40px;
    }
  }
}
