.feature {
  $block: &;

  // @include outline-grid(3, 1, -1, -1); /* TODO: Сетка */

  background-color: $bg-color--gray;

  &__fact {
    padding: 26px 0 28px;
    margin: 0 $gap-sm;

    text-align: center;

    border-bottom: 1px solid transparentize($color-black, 0.9);

    &--last {
      border-bottom: none;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 0 0 13px;

    font-size: $font-size--h2-sm;
    line-height: $line-height--xlarge;

    br { display: none; }
  }

  &__num {
    order: 2;

    margin: 6px 0 0;

    font-size: $font-size;
    font-weight: normal;

    &::before,
    &::after {
      content: '\00a0\2013\00a0';
    }
  }

  &__desc {
    margin: 10px 15px 0;

    br { display: none; }
  }

  &__image {
    img { display: block; }
  }

  &__items {
    @include list-reset;

    padding: 26px $gap-sm 18px;

    color: $text-color;
    background-color: $bg-color;
  }

  &__item {
    position: relative;

    margin-bottom: 19px;
    padding-top: 9px;
    padding-left: 50px;
  }

  &__item-icon {
    position: absolute;
    top: 0; left: 0;

    fill: $bg-color--main;
  }

  &__item-title {
    margin: 0 0 14px;
    font-size: $font-size--h2-sm;
    line-height: $line-height--xlarge;
  }

  &__item-desc {
    margin: 10px 0 0;

    br { display: none; }
  }

  &:first-child {
    padding: 16px 0 0;
  }

  &--main {

    color: $text-color--main;
    background-color: $bg-color--main;

    #{$block}__fact {
      padding-top: 40px;
      padding-bottom: 38px;
    }

    #{$block}__desc {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;

    &__fact {
      width: $col-md;
      padding: 45px 50px;
      margin: 0;

      border: none;
    }

    &__title {
      margin-bottom: 19px;
      font-size: $font-size--h2;

      br { display: block; }
    }

    &__desc {
      margin-left: 0;
      margin-right: 0;
      br { display: block; }
    }

    &__image {
      width: $col-md * 2;
    }

    &__items {
      display: flex;
      order: 3;

      padding: 60px 0 62px;
    }

    &__item {
      width: $col-md;
      margin: 0;
      padding: 99px 45px 0;

      text-align: center;

      &--housing {
        order: 1;

        #{$block}__item-icon {
          width: 75px;
          height: 72px;
        }
      }

      &--food {
        order: 2;

        #{$block}__item-icon {
          width: 77px;
          height: 68px;
        }
      }

      &--souvenirs {
        order: 3;

        #{$block}__item-icon {
          width: 64px;
          height: 75px;
        }
      }
    }

    &__item-icon {
      left: 50%;
      transform: translateX(-50%);
    }

    &__item-title {
      margin-bottom: 21px;
      font-size: $font-size--h2;
    }

    &:first-child { padding-top: 0; }

    &--main {
      #{$block}__fact {
        padding: 45px 45px 40px;
      }
    }

    &--left {
      #{$block}__fact { order: 1; }
      #{$block}__image { order: 2; }
    }

    &--right {
      #{$block}__fact { order: 2; }
      #{$block}__image { order: 1; }
    }
  }

  @media (min-width: $screen-lg) {

    &__fact {
      width: $col-lg;
      padding: 46px 65px 65px;
    }

    &__image {
      width: $col-lg * 2;
    }

    &__items {
      padding-bottom: 82px;
    }

    &__item {
      width: $col-lg;
    }

    &--main {
      #{$block}__fact {
        padding-top: 53px;
        padding-bottom: 58px;
      }
    }
  }
}
