.gallery {
  $block: &;

  // @include outline-grid(3); /* TODO: Сетка */
  // @include outline-grid(3, 1, -1, -1); /* TODO: Сетка */
  // ~ * { display: none; } /* TODO: Сетка */


  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;

    border: none;
  }
}
