.gallery-photo {
  $block: &;

  padding: 22px 20px 21px;

  &__image {
    display: block;

    min-height: 280px; /* TODO: Сетка */
    margin-bottom: 16px;
  }

  &__info {
    min-height: 76px; /* TODO: Сетка */
  }

  @media (min-width: $screen-md) {
    width: 50%;
    padding: 0;

    &__image {
      min-height: 267px; /* TODO: Сетка */
      margin: 0;
    }

    &__info {
      min-height: 80px; /* TODO: Сетка */
      padding: 16px 20px;
    }

    &--main {
      width: 100%;

      #{$block}__image {
        min-height: 400px; /* TODO: Сетка */
      }
    }
  }

  @media (min-width: $screen-lg) {
    position: relative;
    width: 33.33333%;

    &__info {
      position: absolute;
      bottom: 0;

      width: 100%;
    }

    &--main {
      width: 100%;
    }
  }
}
