.gallery {
  $block: &;

  // @include outline-grid(3); /* TODO: Сетка */
  // ~ * { display: none; } /* TODO: Сетка */


  border-top: 1px solid #000; /* TODO: Сетка */

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;

    border: none;
  }
}
