.hotel-search {
  $block: &;

  // @include outline-grid(1); /* TODO: Сетка */
  // ~ * { display: none; } /* TODO: Сетка */

  min-height: 286px; /* TODO: Сетка */
  padding: 30px $gap-sm 50px;

  @media (min-width: $screen-md) {
    width: 458px;
    min-height: 317px; /* TODO: Сетка */
    margin: 0 auto;
    padding: 58px 0;
  }

  @media (min-width: $screen-lg) {
    min-height: 330px; /* TODO: Сетка */
    padding-bottom: 66px;
  }
}
