.likes {
  $block: &;

  &__toggle {
    display: inline-block;

    padding: 0;
    margin-right: 10px;

    vertical-align: top;

    border: none;
    background: none;

    &:hover {
      #{$block}__icon {
        fill: $color-main;
        opacity: 1;
      }
    }

    &:active {
      #{$block}__icon {
        fill: $color-black;
        opacity: 0.5;
      }
    }
  }

  &__icon {
    fill: $color-black;
    opacity: 0.3;
  }

  &__num {
    display: inline-block;
    font-weight: bold;
    margin-top: 2px;
  }
}
