.main-nav {
  order: 1;

  &__items {
    @include list-reset;
    min-height: 111px; /* TODO: Сетка */
  }

  &__close {
    display: none; /* TODO: Сетка */
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;

    &__close { display: none; }

    &__items {
      display: flex;
      flex-wrap: wrap;

      width: 306px; /* TODO: Сетка */
      min-height: 56px; /* TODO: Сетка */
    }

    &__item {
      // width: 153px;
      flex-grow: 1;
      min-height: 56px; /* TODO: Сетка */
    }
  }

  @media (min-width: $screen-lg) {

    &__items {
      width: 478px;
    }

    &__item {
      // width: 239px;
    }
  }
}
