.page-header {
  $block: &;
  @include container;

  // @include outline-grid(3); /* TODO: Сетка */
  // ~ * { display: none; } /* TODO: Сетка */
  // opacity: 0.3;

  display: flex;
  flex-direction: column;
  position: relative;

  &__logo {
    order: 2;
    position: relative;
    z-index: 1;

    height: 56px;
    background-color: $bg-color;
  }

  &__logo-link {
    display: block;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 102px;
    height: 83px;
  }

  &__logo-image {
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);

    max-width: none;
  }

  &__logo-triangle { fill: $color-main; }

  &__logo-triangle,
  &__logo-clouds,
  &__logo-bridge { display: none; }

  &__back {
    order: 3;
    overflow: hidden;
    position: relative;

    height: 158px;
    padding-top: 52px;

    text-align: center;

    background: #deedf5 url(../img/bg-back-mobile@1x.jpg) 50% 100% no-repeat;
    background-size: 768px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-mobile@2x.jpg);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -1px; right: -1px;

      height: 26px;

      background: url(../img/bg-intro-triangle-mobile.svg) 50% 0 no-repeat;
      background-size: 100%;
    }
  }

  &--index-page {

    #{$block}__back {
      height: 389px;
      padding-top: 90px;
    }
  }

  @media (min-width: $screen-md) {

    &__logo {
      position: static;
      z-index: 1;

      height: 0;
    }

    &__logo-clouds { display: inline; }

    &__back {
      height: 290px;
      padding-top: 95px;

      background-image: url(../img/bg-back-tablet@1x.jpg);

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/bg-back-tablet@2x.jpg);
      }

      &::after {
        height: 57px;
        background-image: url(../img/bg-intro-triangle-tablet.svg);
      }
    }

    &__intro {
      width: 458px;
      height: 78px;
    }

    &--index-page {

      #{$block}__back {
        height: 518px;
        padding-top: 77px;
      }

      #{$block}__intro {
        width: 460px;
        height: 350px;
      }
    }
  }

  @media (min-width: $screen-lg) {

    &__logo-link {
      width: auto;
      height: auto;
    }

    &__logo-image {
      position: static;
      transform: none;
    }

    &__logo-bridge,
    &__logo-triangle { display: inline; }

    &__back {
      height: 301px;
      padding-top: 100px;

      background-image: url(../img/bg-back-desktop@1x.jpg);
      background-size: 1200px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/bg-back-desktop@2x.jpg);
      }

      &::after {
        background-image: url(../img/bg-intro-triangle-desktop.svg);
      }
    }

    &__intro {
      width: 461px;
      height: 80px;
    }

    &--index-page {

      #{$block}__back {
        height: 518px;
        padding-top: 78px;
      }

      #{$block}__intro {
        width: 460px;
        height: 350px;
      }
    }
  }
}
