.page-title {
  // @include outline-grid(1); /* TODO: Сетка */
  // ~ * { display: none; } /* TODO: Сетка */

  padding: 38px $gap-sm 27px;

  text-align: center;


  &__name {
    margin: 0 0 1.45em;

    font-size: $font-size--h1-sm;
    line-height: $line-height--xlarge;

    br { display: none; }
  }

  &__slogan {
    font-size: $font-size--h2-sm;
    line-height: $line-height--xlarge;
    margin: 0 0 29px;
  }

  &__text {
    margin: 1em 0 0;
    line-height: $line-height--large;

    br { display: none; }
  }

  &--index-page {
    position: relative;
    z-index: 1;

    padding-top: 40px;
    padding-bottom: 28px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      bottom: -16px;
      left: 0;

      width: 100%;
      height: 37px;

      background: url(../img/bg-triangle.svg) 50% 0 no-repeat;
    }
  }

  @media (min-width: $screen-md) {
    width: 450px;
    margin: 0 auto;
    padding: 75px 0 69px;


    &__name {
      font-size: $font-size--h1;
      margin-bottom: 1em;

      br { display: block; }
    }

    &__slogan {
      font-size: $font-size--h2;

      br { display: none; }
    }

    &__text {
      br { display: block; }
    }

    &--index-page {
      width: 500px;
      padding-top: 50px;
      padding-bottom: 51px;

      &::after { display: none; }
    }
  }

  @media (min-width: $screen-lg) {
    padding: 112px 0 71px;

    &--index-page {
      min-height: 206px; /* TODO: Сетка */
      padding-top: 50px;
      padding-bottom: 51px;
    }
  }
}
