.page {
  $block: &;

  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 100vh;

  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;

  color: $text-color;
  background-color: $bg-color--outer;

  &--index {
    @include body-bg(index);
  }
}
