.video {
  $block: &;
  $contorls-padding-x: 23px;
  // @include outline-grid(3); /* TODO: Сетка */
  // @include outline-grid(3, 1, -1, -1); /* TODO: Сетка */
  margin-bottom: 40px;


  &__title {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  &__content {
    display: block;

    width: 100%;
    height: 200px;

    background: url(../img/video-mobile@1x.jpg) 0 0 no-repeat;
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/video-mobile@2x.jpg);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    position: relative;

    height: 66px;
    padding: 0 $contorls-padding-x;
    margin: 0 $gap-sm 0;

    background-color: $color-gray--lightest;
  }

  &__volume {
    display: flex;
    position: absolute;
    top: 0; left: 0;
    transform: translateY(-100%);

    width: 100%;
    padding: 22px $contorls-padding-x 20px;

    background-color: transparentize($color-black, 0.4);
  }

  &__volume-bar {
    position: relative;

    height: 3px;
    width: 100%;

    background-color: transparentize($color-white, 0.8);
  }

  &__volume-marker {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    width: 9px;
    height: 9px;

    background-color: $color-white;
    border-radius: 50%;
  }

  &__btn {
    display: block;
    padding: 0;

    line-height: 0;

    background: none;
    border: none;

    &:active { opacity: 0.3; }

    &--replay {
      width: 16px;
      height: 20px;

      background-image: svg-load('../img/icon-video-replay.svg', fill = $color-main--darkest);

      &:hover {
        background-image: svg-load('../img/icon-video-replay.svg', fill = $color-main);
      }

      &:active {
        background-image: svg-load('../img/icon-video-replay.svg', fill = $color-main--darkest);
      }
    }

    &--subtitles {
      width: 32px;
      height: 20px;
      margin-left: auto;
      margin-right: 31px;

      background-image: svg-load('../img/icon-video-subtitles.svg', fill = $color-main--darkest);

      &:hover {
        background-image: svg-load('../img/icon-video-subtitles.svg', fill = $color-main);
      }

      &:active {
        background-image: svg-load('../img/icon-video-subtitles.svg', fill = $color-main--darkest);
      }
    }

    &--fullscreen {
      width: 20px;
      height: 20px;

      background-image: svg-load('../img/icon-video-fullscreen.svg', fill = $color-main--darkest);

      &:hover {
        background-image: svg-load('../img/icon-video-fullscreen.svg', fill = $color-main);
      }

      &:active {
        background-image: svg-load('../img/icon-video-fullscreen.svg', fill = $color-main--darkest);
      }
    }
  }

  @media (min-width: $screen-md) {

    &__title {
      padding-top: 67px;
      padding-bottom: 73px;
    }

    &__inner {
      position: relative;
    }

    &__content {
      height: 500px;
      background-image: url(../img/video-tablet@1x.jpg);

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/video-tablet@2x.jpg);
      }
    }

    &__controls {
      justify-content: space-between;
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 93px;
      margin: 0;
      padding-left: 35px;
      padding-right: 41px;

      background-color: transparentize($color-black, 0.4);
    }

    &__volume {
      position: static;
      transform: none;

      width: 389px;
      padding: 0;
      margin-left: 10px;

      background-color: transparent;
    }

    &__btn {

      &--replay {
        background-image: svg-load('../img/icon-video-replay.svg', fill = $color-white);

        &:active {
          background-image: svg-load('../img/icon-video-replay.svg', fill = $color-white);
        }
      }

      &--subtitles {
        margin-right: 0;
        margin-left: 15px;

        background-image: svg-load('../img/icon-video-subtitles.svg', fill = $color-white);

        &:active {
          background-image: svg-load('../img/icon-video-subtitles.svg', fill = $color-white);
        }
      }

      &--fullscreen {
        background-image: svg-load('../img/icon-video-fullscreen.svg', fill = $color-white);

        &:active {
          background-image: svg-load('../img/icon-video-fullscreen.svg', fill = $color-white);
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 87px;

    &__title {
      padding-top: 71px;
      padding-bottom: 71px;
    }

    &__inner {
      width: 800px;
      margin: 0 auto;
    }

    &__content {
      background-image: url(../img/video-desktop@1x.jpg);

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/video-desktop@2x.jpg);
      }
    }

    &__volume {
      width: 540px;
    }

    &__btn {

      &--subtitles { margin-left: 8px; }
    }
  }
}
