.video {
  $block: &;
  // @include outline-grid(3); /* TODO: Сетка */
  margin-bottom: 39px;


  &__title {
    min-height: 192px; /* TODO: Сетка */
    padding-top: 35px;
    padding-bottom: 35px;

    > * { display: none; } /* TODO: Сетка */
  }

  &__content {
    display: block;

    width: 100%; /* TODO: Сетка */
    height: 200px; /* TODO: Сетка */
  }

  &__controls {
    min-height: 111px; /* TODO: Сетка */
    margin-top: -45px;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 30px;

    &__title {
      min-height: 243px; /* TODO: Сетка */
      padding-top: 65px;
      padding-bottom: 73px;
    }

    &__inner {
      position: relative;
    }

    &__content {
      height: 500px; /* TODO: Сетка */
    }

    &__controls {
      position: absolute;
      bottom: 0;

      width: 100%;
      min-height: 93px; /* TODO: Сетка */
      margin: 0;
    }
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 75px;

    &__title {
      min-height: 245px; /* TODO: Сетка */
      padding-top: 68px;
      padding-bottom: 71px;
    }

    &__inner {
      width: 800px;
      margin: 0 auto;
    }

    &__content {

    }
  }
}
